{% extends 'base.njk' %}

{% block header %}{% endblock %}

{% block content %}
    <iframe id="preview-frame" title="Soakers Affiliated" src="https://artesianspas.com/" frameborder="0" width="100%" id="framed"></iframe>
{% endblock %}

{% block footer %}{% endblock %}

{% block postbody %}
    <script>
      // URL param
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const iFrameSource = urlParams.get('url');
      $('iframe').attr('src', iFrameSource);

      //function to fix height of iframe!
      var calcHeight = function() {
        const navHeight = $('.navbar-area').height();
        $('iframe').height($(window).height() - navHeight);
      }

      $(document).ready(function() {
        calcHeight();
      });

      $(window).resize(function() {
        calcHeight();
      }).load(function() {
        calcHeight();
      });
    </script>
{% endblock %}


