---
description: Hot Tub Dealership in Northern Utah
layout: base.njk
---

<!-- Home Slider -->
<div class="home-slider">
  <div class="slider-area owl-carousel owl-theme">
    <div class="slider-item slider-bg1">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="slider-text">
              <h1>Artesian Elite</h1>
              <p>
                ARTESIAN ELITE features 5 spacious and elegantly designed spas, all equipped 
                with our patented DIRECTFLOW Personal Control® System, allowing for a 
                fully-customizable spa experience.
              </p>

              <div class="slider-btn">
                <a href="/framed/?url=https://artesianspas.com/artesian-elite/" class="default-btn1">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item slider-bg2">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="slider-text">
              <h1>Island &amp; Island Elite</h1>
              <p>
                Our top-of-the-line Island Spas Elite models provide you 
                with the ultimate individual control and best hydrotherapy 
                experience possible. This upgrade includes the patented 
                Variable Control System.  This system lets you control your 
                personal massage pressure with individual seat pumps. 
                Island Spas Elite are the most highly customizable spas in 
                the industry. 
              </p>

              <div class="slider-btn">
                <a href="/framed/?url=https://artesianspas.com/island-spas/" class="default-btn1">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item slider-bg3">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="slider-text">
              <h1>TidalFit Swim Spas</h1>
              <p>
                A pool, hot tub and aquatic gym all-in-one! Have all the 
                benefits of a full size pool with less cost, less space 
                and less maintenance. It meets the needs of both fitness 
                enthusiasts and those wanting an alternative to a traditional 
                swimming pool for fun and relaxation.
              </p>

              <div class="slider-btn">
                <a href="/framed/?url=https://tidalfit.com/" class="default-btn1">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Home Slider End -->

<!-- Service Area -->
<section class="service-area pt-100 pb-70">
  <div class="container">
    <div class="scetion-title text-center mb-50">
      <span>Our Services</span>
      <h2>Vacation at Home</h2>
      <p>
        See the menu above to see our products. We also service hot tubs. Contact us for any questions you may have. 
        Also, please let us know what information you would like to see on our website.
      </p>
    </div>

    {# <div class="service-item-area owl-carousel owl-theme">
      <div class="service-item">
        <a href="service-details.html" class="service-item-icon">
          <i class="flaticon-swimming"></i>
        </a>
        <a href="service-details.html" class="service-head">
          <h3>Swimming & Diving</h3>
        </a>
        <p>
          As sign what each derided to organizaasd tion. Remodelling that,
          win word as have the proceeded lots subject
        </p>
      </div>

      <div class="service-item">
        <a href="service-details.html" class="service-item-icon">
          <i class="flaticon-teacher"></i>
        </a>
        <a href="service-details.html" class="service-head">
          <h3>Teaching Swimming & Diving</h3>
        </a>
        <p>
          As sign what each derided to organizaasd tion. Remodelling that,
          win word as have the proceeded lots subject
        </p>
      </div>

      <div class="service-item">
        <a href="service-details.html" class="service-item-icon">
          <i class="flaticon-flipper"></i>
        </a>
        <a href="service-details.html" class="service-head">
          <h3>Swimming Equipments</h3>
        </a>
        <p>
          As sign what each derided to organizaasd tion. Remodelling that,
          win word as have the proceeded lots subject
        </p>
      </div>

      <div class="service-item">
        <a href="service-details.html" class="service-item-icon">
          <i class="flaticon-swimming"></i>
        </a>
        <a href="service-details.html" class="service-head">
          <h3>Swimming & Diving</h3>
        </a>
        <p>
          As sign what each derided to organizaasd tion. Remodelling that,
          win word as have the proceeded lots subject
        </p>
      </div>
    </div> #}
  </div>
</section>
<!-- Service Area End -->

<!-- Google Map Start -->
<div class="mapouter">
  <div class="gmap_canvas">
    <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=soakers%20midvale%20utah&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <a href="https://www.whatismyip-address.com/nordvpn-coupon/"></a>
  </div>
  <style>
    .mapouter{position:relative;text-align:right;height:500px;width:100%;}
    .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
  </style>
</div>
<!-- Google Map End -->

