<div
  class="map-facade"
  data-map-src="https://maps.google.com/maps?q=soakers%20midvale%20utah&t=&z=15&ie=UTF8&iwloc=&output=embed"
>
  <div class="map-facade__panel">
    <p class="map-facade__kicker">Visit the showroom</p>
    <p class="map-facade__address">
      6905 S State St, Suite A<br>
      Midvale, UT 84047
    </p>
    <p class="map-facade__hours">Monday – Saturday, 10:00 AM – 5:00 PM</p>
    <button type="button" class="btn-primary map-facade__load">
      Load interactive map
    </button>
  </div>
</div>
